:root {
  /* light mode */
  /* --brand: #bc0404; */
  --brand: #FB3232;
  --primary: #415763; 
  --primary-transparent: rgb(65, 87, 99,0.2);
  --secondary: #000000;
  /* --secondary:#E7B2B7;   */
  --secondary-transparent: rgb(188,4,4, 0.1);
  --background-dark: #000000;
  --background: rgb(65,87,99,0.5);
  --background-nontransparent: rgb(216, 200, 187);
  --textPrimary: #ffffff;
  --textSecondary: #000000;

  /*logo: #bc0404 rgb(188,4,4);
  light-logo: #cc3232 rgb(204,50,50);
  logo-dark: #961e1e rgb(150,30,30);
  light: #efd1d1 rgb(239,209,209);
  black: #383030 rgb(56,48,48);
  brown: #7e4040 rgb(126,64,64);
  brown-transparent: rgb(126,64,64) 
  */
}

.branded-link {
    color: var(--brand) !important;
}

.modal-white,
.modal-white :not(button),
.modal-white .btn-neutral {
  color: var(--textSecondary);
}