@font-face {
  font-family: 'GraffitiFont';
  src: url('../fonts/graffitfont.otf') format('truetype');
}

body {
  font-family: 'GraffitiFont', sans-serif;
  background-color: white;
  margin: 0;
}

:root {
  /* light mode */
  --primary: #5C0606;
  --secondary: #C74F24;
  --background: #FAF3EF;
  --textPrimary: black;
 
  /* dark mode */
  --primaryDark: #BD4038;
  --secondaryDark: #F76336;
  --backgroundDark: #2F1A0E;
  --textPrimaryDark: white;
}