@font-face {
  font-family: 'merienda';
  src: url('../fonts/meriendaStatic/Merienda-Regular.ttf') format('truetype'); /* Regular */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merienda';
  src: url('../fonts/meriendaStatic/Merienda-Light.ttf') format('truetype'); /* Light */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'merienda';
  src: url('../fonts/meriendaStatic/Merienda-Medium.ttf') format('truetype'); /* Medium */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'merienda';
  src: url('../fonts/meriendaStatic/Merienda-SemiBold.ttf') format('truetype'); /* Semi-Bold */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'merienda';
  src: url('../fonts/meriendaStatic/Merienda-Bold.ttf') format('truetype'); /* Bold */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'merienda';
  src: url('../fonts/meriendaStatic/Merienda-ExtraBold.ttf') format('truetype'); /* Extra-Bold */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'creamcake';
  src: url('../fonts/creamcake.otf') format('truetype');
}

h1 {
  font-family: 'merienda';
  font-size: '30px';
  font-weight: '600';
}

h2 {
  font-family: 'merienda';
  font-size: '20px';
  font-weight: '500';
}

body {
  font-family: 'serif';
  background-color: var(--background);
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Prevents horizontal scrollbar */
  overflow-y: scroll; 
}


:root {
  /* light mode */
  --primary: #5C0606;
  --secondary: #001400;
  --background: #F9FCED;
  --textPrimary: black;
 
  /* dark mode */
  --primaryDark: #BD4038;
  --secondaryDark: #F76336;
  --backgroundDark: #2F1A0E;
  --textPrimaryDark: white;
}